:host {
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}
.formAnchor{
    position: relative;
    height: 0;
    width: 0;
}
.formBox{
    position: absolute;
    height: fit-content;
    width: fit-content;
    z-index: 333 !important;
}
