<style>
  .mainBox{
      display:flex;
      flex-direction:column;
      height: 100%;
  }
  .padBox{
      padding: .3em;
  }
  .queryLineContainer{
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  .queryInput{
      display:flex;
      justify-content: center;
      background: #202040;
      height: 2em;
      width: 100%;
  }
  .queryInputBox{
      background: #77A;
      font-family: Consolas;
      font-size: 1.1em;
      overflow-x: scroll;
      width: 50%;
  }
  .queryLabel{
    justify-content: center;
    align-content: center;
    margin: .3em;
    font-weight: bold;
    color: #B5A166;
    font-size: 1.3em;
    text-shadow:
      .1em .1em 0 black,
      -.1em .1em 0 black,
      .1em -.1em 0 black,
      -.1em -.1em 0 black;
  }
  .button{
      border: .1em solid black;
      background-color: #222;
      padding: .5em .9em;
      text-align: center;
      text-decoration: none;
      color: white;
      transition-duration: .4s;
  }
  .button:hover{
      background-color: #447;
  }

  .documentation{
      border-top: .5em solid black;
      background: #202040;
      display: flex;
      justify-content: center;
      height: 100%;
      overflow: auto;

  }
  .documentationElement{
      width: 75%;
      min-height: 200%;/*css is a god damn nightmare, fit-content doesn't work*/
      display: flex;
      align-items: stretch;
  }
  @media(max-width:700px){
    .documentationElement {
        min-width: 100%;
        width: fit-content;
    }
  }
  .resultsContainer{
      display:flex;
      flex-direction:row;
      background: #202040;
      overflow-x: hidden;
      border: .5em inset black;
      flex-wrap: wrap;
      overflow: auto;
      height: 100%;
  }
  .resultCount-true{
      display:flex;
      margin-left: .3em;
      align-items: center;
      color: rgba(200,200,200,.5);
  }
  .resultCount-false{
      color: rgba(0,0,0,0);
  }
  .errorReadout{
      color: red;
  }
  .errorReadout.error-true{
      height: 0%;
  }
</style>
<div class="mainBox">
  <color-id-selector (onValueChanged)="onColorIdUpdated($event)"></color-id-selector>
  <div class="queryLineContainer">
    <div class="queryInput">
      <div class="queryLabel">Search Query:</div>
      <input class="queryInputBox" type="text" [(ngModel)]="query">
      <button class="button" (mouseover)="onSearchHover()" (click)="onSearchClicked()">
        Search
      </button>
      <div class="resultCount-{{hasResults}}">
        ({{searchResultCount}} results)
      </div>
    </div>
    <div class="docsButtonContainer">
      <button class="button" (mouseover)="onDocsHover()" (click)="toggleDocs()">
        docs
      </button>
    </div>
  </div>
  <div class="errorReadout error-{{hasError}}">
    <pre>
      {{errorText}}
    </pre>
  </div>
  <div *ngIf="showDocs" class="documentation">
    <documentation class="documentationElement" [spec]="languageSpec"></documentation>
  </div>
  <div *ngIf="!showDocs" class="resultsContainer">
    <div class="formAnchor">
      <visual-form-flyout class="formBox"></visual-form-flyout>
    </div>
    <ng-container *ngFor="let cardData of searchResultList">
      <div class="padBox">
        <card [data]="cardData"></card>
      </div>
    </ng-container>
  </div>
</div>
